---
interface Props {
  from?: string;
  to?: string;
  flip?: boolean;
  overlap?: boolean;
}
const { from, to = '#fbf6ec', flip = false, overlap = false } = Astro.props;
---

<div
  class:list={['relative z-10 w-full overflow-hidden', flip && 'rotate-180', overlap ? '-mt-16 sm:-mt-[110px] md:-mt-[130px]' : '-mt-px']}
  style={!overlap && from ? `background:${from}` : undefined}
  aria-hidden="true"
>
  <svg viewBox="0 0 1440 140" preserveAspectRatio="none" class="block h-[64px] w-full sm:h-[110px] md:h-[130px]">
    <path
      d="M0,58 C180,118 360,8 620,46 C880,84 1040,18 1260,52 C1340,64 1400,72 1440,68 L1440,140 L0,140 Z"
      fill={to}
    />
  </svg>
</div>
